.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.map {
  display: block;
  width: 600px;
  margin: 0 auto 25px;
}

p {
  margin-bottom: 25px;
  font-size: 20px;
}

ul {
  font-size: 20px;
}

li {
  font-style: italic;
  margin-bottom: 10px;
}

.sidney {
  display: block;
  width: 700px;
  margin: 0 auto;
}