// Все переменные
$accent: #436372;
$decor: #a3bbc8;

%DMSans-Bold {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%DMSans-Medium {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%DMSans-Regular {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-Regular {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-Medium {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}