html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.title {
  margin-bottom: 100px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #01353e;
  position: relative;
}

.title::before {
  content: "";
  background-image: url(../images/title-decor.svg);
  width: 45px;
  height: 48px;
  position: absolute;
  right: -43px;
  top: 32px;
}

.header {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  background-image: url(../images/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__shadow {
  height: 490px;
  width: 100%;
  background: linear-gradient(
    180deg,
    #01353e 0%,
    rgba(51, 51, 51, 0.595076) 31.64%,
    rgba(51, 51, 51, 0.222586) 74.35%,
    rgba(51, 51, 51, 0) 99.87%
  );
  position: absolute;
}

.header__top-inner {
  padding-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.menu {
  margin-right: auto;
  transform: translateX(-60px);
}

.menu__list {
  display: flex;
  gap: 39px;
  justify-content: center;
}

.menu__list-link {
  color: #ffffff;
  padding: 0 3px 5px;
  transition: all 0.4s;
}

.menu__list-link:hover,
.menu__list-link--active {
  border-bottom: 1px solid #00b2a0;
}

.header__content-inner {
  min-height: calc(100vh - 98px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  margin-top: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  color: #0d302c;
}

.header__subtitle {
  margin-bottom: auto;
  color: #000000;
}

.header__icon {
  padding-bottom: 50px;
  transition: all 0.5s;
}

.header__icon:hover {
  padding-top: 15px;
  padding-bottom: 35px;
}

.about {
  padding: 190px 0 170px;
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.about__column {
  max-width: 480px;
}

.col-1 p,
.col-2 p {
  margin-bottom: 30px;
}

.col-2 p:first-child {
  margin-bottom: 48px;
}

.col-2 p:nth-child(2) {
  margin-bottom: 79px;
}

.school {
  padding: 200px 0 200px;
  background-color: #f8f8f8;
}

.school__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.school__title {
  margin-bottom: 100px;
}

.school__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.school__item {
  height: 140px;
  max-width: 350px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__title {
  width: 220px;
  height: 56px;
  margin-bottom: 10px;
  padding-left: 63px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.item__title h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #242121;
}

.item__title::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  left: 0;
  top: 0;
}

.item__title--leave::before {
  background-image: url(../images/leave-icon.svg);
}

.item__title--fly::before {
  background-image: url(../images/flying-icon.svg);
}
.item__title--learn::before {
  background-image: url(../images/learning-icon.svg);
}

.school__info-text {
  flex-basis: 600px;
}

.school__info-text p:first-child {
  margin-bottom: 30px;
}

.school__info {
  width: 345px;
  margin-right: 255px;
}

.school__info-item {
  height: 43px;
  padding-top: 8px;
  padding-right: 50px;
  margin-bottom: 10px;
  position: relative;
}

.info__img-line {
  display: flex;
  justify-content: space-between;
}

.info-item__img {
  margin-bottom: 1px;
  margin-right: 10px;
}

.info__img-line span {
  font-size: 24px;
  line-height: 18px;
}

.motivation {
  margin-bottom: 200px;
  background-image: url(../images/motivation-bg-cut.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 50%;
}

.motivation__inner {
  max-width: 515px;
  margin-right: auto;
  padding: 200px 0 120px;
}

.motivation__title {
  margin-bottom: 100px;
}

.motivation__text {
  max-width: 510px;
}

.motivation__text p {
  margin-bottom: 30px;
}

.gallery {
  font-family: "Roboto Condensed";
  font-weight: 400;
  letter-spacing: 0.6px;
  color: #242121;
}

.gallery__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__title {
  margin-bottom: 212px;
}

.gallery__filter {
  margin-right: auto;
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
}

.gallery__content {
  margin: 0 auto 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.gallery__link-btn {
  width: 350px;
  height: 50px;
  margin-bottom: 200px;
  border: 1px solid #c4c4c4;
}

.blockquote {
  background-color: #f8f8f8;
  padding: 81px 0 62px;
  margin-bottom: 200px;
}

.blockquote__text {
  text-align: center;
  font-style: italic;
  font-size: 36px;
  line-height: 40px;
}

.blockquote__author {
  display: block;
  text-align: right;
  margin-right: 168px;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

.gallery__video {
  height: 600px;
  margin-bottom: 200px;
  background-image: url(../images/video-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__numbers {
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.numbers__item {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #01353e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers__item-num {
  margin-bottom: 5px;
}

.numbers__item span {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
